html {
    height: 100%;
  }

  body {
    background: lightgoldenrodyellow;
    height: 100%;
  }

  .container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img {
      width: 150px;
      height: auto;
  }

  .search-input-text {
    border: 1px solid #b6b6b6;
    width: 495px;
    background: #fff;
    height: 33px;
    line-height: 33px;
    font-size: 18px;
    padding: 3px 0 0 7px;
  }

  .search-input-button {
    width: 90px;
    height: 38px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    background: #3385ff;
    border: .5px solid #2d78f4;
    margin-left: -5px;
    vertical-align: top;
    opacity: .9;
    border-radius: 50px;
  }

  .search-input-button:hover {
    opacity: 1;
    box-shadow: 0 1px 1px #333;
    cursor: pointer;
    border-radius: 50px;
  }

  .button {
      width: 150px;
      height: 50px;
  }
